$spacing: .5em;
$small-spacing: .2em;

.menu {
  background-color: white;
  margin: 1em;
  max-height: 100%;
  position: relative;

  .logo {
    max-height: 2em;
  }

  .totals {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .order-actions {
    button {
      width: 100%;
    }
  }
}

.menu-item {
  background-color: white;
  margin: $spacing;
  padding: 0 $spacing;

  margin-left: 0;
  padding-left: 0;

  .price {
    text-align: right;
    margin-right: $spacing;
  }

  p, button {
    display: inline-block;
    margin: $small-spacing;
  }

  button {
    margin-right: 1em;
  }
}
